<a href="https://colab.research.google.com/github/JoanWaweru/allAboutDataScience/blob/main/PythonTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hi Joan!❤️')

Hi Joan!❤️

In [ ]:
savingsAccount = 10000
rate = 0.75

In [ ]:
interest = (savingsAccount*rate)/100
print(interest)

75.0

In [ ]:
interest = int(interest)
print(interest)

75

In [ ]:
totalBal = savingsAccount + interest

In [ ]:
print("Your account balance was", savingsAccount, "€\nYou earned", interest, "€ this year. Your new balance is ",totalBal)

Your account balance was 10000 €
You earned 75 € this year. Your new balance is  10075

In [ ]:
account = 200
savings = 3000
    
# TO DO: modify the following line with the simplified operator +=
savings += 500

print("Your savings are: ", savings)

Your savings are:  3500

In [ ]:
def printArea(dimension1, dimension2):
  area = dimension1 * dimension2
  return area

In [ ]:
area1 = printArea(43,6)
area2 = printArea(10,100)
print("The area of my first square is", +area1, "and the second triangle is", +area2)

The area of my first square is 258 and the second triangle is 1000

In [ ]:
text = "This is me practising how to be a Data Scientist"
print(text.upper())
print(text.replace('Scientist', 'Analyst'))
print(text.find('to'))

THIS IS ME PRACTISING HOW TO BE A DATA SCIENTIST
This is me practising how to be a Data Analyst
26

In [ ]:
a  = 4

def polynomial(a, b, c, x):
  return a*x**2 + b*x + c

b = a
b *= a
c = 1
result = polynomial(a, b, c, 0)
a += 3
a = 0

In [ ]:
print(a)
print(b)
print(c)
print(result)

0
16
1
1

In [ ]:
colors = ['red','yellow','orange','green','blue']
print(colors)

['red', 'yellow', 'orange', 'green', 'blue']

In [ ]:
for color in colors :
    print(color)

red
yellow
orange
green
blue

In [ ]:
colors[3] = 'emerald'
print(colors)

['red', 'yellow', 'orange', 'emerald', 'blue']

In [ ]:
guests = []
guests.append('Joey')
guests.append('Mary')
guests.append('Martin')
print(guests)
print(len(guests))
guests[2]='John'
print(guests)
guests.remove('Joey')
for guest in guests:
    print(guest)

['Joey', 'Mary', 'Martin']
3
['Joey', 'Mary', 'John']
Mary
John

**Dictionaries**

In [ ]:
accounts = {'Marion Weaver': 10000, 'Alberto Mendoza': 150, 'Katharine Tyler': 300, 'Isaac Steele': 1800.74}
print(accounts['Alberto Mendoza']) # -> 150
print(accounts)

150
{'Marion Weaver': 10000, 'Alberto Mendoza': 150, 'Katharine Tyler': 300, 'Isaac Steele': 1800.74}

**Manipulate the Items of a Dictionary**

Here are the operations frequently carried out with dictionaries:

*   Access the value of an item
*   Add a new item (a new key-value pair)
*   Delete an item via its key

In [ ]:
accounts['Marion Weaver'] -= 2000 # I subtract 2000 from Marion's account
accounts['Kristian Roach'] = 1000 # I add a new individual in my dictionary
print(accounts['Kristian Roach']) # I print the value of Kristian's account
print(accounts['Marion Weaver'])

1000
8000

In [ ]:
len(accounts) # -> 3

5

In [ ]:
accounts.pop('Alberto Mendoza') # deletes Alberto Mendoza from our dictionary

150

In [ ]:
len(accounts) # -> 3

4

In [ ]:
name = input('What is your preferred username?')

if len(name) > 0:
    print("Hello", name, "!")
else:
    print("Hello, world!")

What is your preferred username?Joan Waweru
Hello Joan Waweru !